@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    --black: rgb(52, 58, 64);
}

.pages{
    padding: 2rem 5rem 5rem 5rem;
}

/* ------------------------------------  NAVBAR ------------------------------------  */

.navbar {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    background-color: rgba(285, 285, 285, 0.8);
    z-index: 100;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    max-width: 1500px;
}

.nav-logo {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    margin-left: 3vw;
    cursor: pointer;
    text-decoration: none;
    font-size: 4rem;
    flex-grow: 1;
    padding: .3rem;
    white-space: nowrap;
    transition: transform .2s ease-in-out;
    color: var(--black);
}

.nav-logo:hover {
    transform:scaleY(1.1);
    margin-left: 3vw;
}

.nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 3vw;
    font-size: 1rem;
}

.nav-links {
    color: var(--black);
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    height: 100%;
    text-transform: uppercase;
}

.nav-item {
    line-height: 40px;
    margin-right: 2rem;
}

.nav-links:hover {
    /* color: var(--black);*/
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.nav-item .active {
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

@media screen and (max-width: 960px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        margin: 0;
        position: absolute;
        right: 0;
        font-size: .75rem;
        margin: 0;
    }

    .nav-logo {
        font-size: 3rem;
    }

    .nav-item {
        line-height: 20px;
        margin: 0.3vh 0;
    }

    .nav-links:hover {
        text-decoration: underline overline;
        text-underline-position: under;
        border: none;
    }
    
    .nav-item .active {
        text-decoration: underline overline;
        text-underline-position: under;
        border: none;
    }

}

/* ------------------------------------ MAIN PAGE ------------------------------------  */

.splash-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url("https://previews.dropbox.com/p/thumb/ABEzQlFublcGcEvA5HrTDxulZUKKcmgbgglJH2AJyys7N7Tdu1doCNz32bUe7FYwjaEWBs0t6YV5ydz4FhBwZ2T8FzmE0MHUYAGIZzQ3v2WErOgRofRpK9YMBANRJHm8KBDXF7byjyXGVwLqiBYMmheBQqKmOhNgPAG6ggABhMAbKSABtlep9t965wvkPaA2OZr_lQIYSPW3tkctIiCqcDXAp3KP5Xp3NphQfkI1OtCsRdO5LlluH22YmMSiPPo4uzpQP-yfv-Ddt5xOe2Bs_xKAUNOknu3vlEIZHiF7699OwVoL9zH7MJ6XKbbWuL1E1lLSyLS9rA_Rtgz5tRn7D_w8AwA72pSWlT-EnLdQKxEPdoQvHNLzfHbi8fXYDeWC8R9DjqwKEaoZSoAEG-BE56HH-vewb6hsAhLdJ-71Ww-G3Xo6P4vy57Kk0e1UE0T73iQbTJ8jrKpuykvRLOygOyQzW_mdocR0r5WoSkZS4loRbXelh17eu445Dh1uf3-LjBBeFw010lJKZg9LxJQAMVTGq50yksKDi9U9I5YO-0Y17QY4RZdcqCUKSE5xTYTIIVd2q6inQ5DoLPiUar14kYnWafTOqmR83FXiEYwTByphrOtvMj5jA4mUCNkXev2VG6Jxhzc6CMYPzK81vS9eeuSGFmPEefBleaOqFz-DWqAubkoQG8FUP_u8ZUsa-wSg6AYuYqOztA_6CceET5j4od0lhj-TrBpxONCkztFlu-wkGQ/p.jpeg?size=2048x1536&size_mode=3");
    background-size: cover;
    background-repeat: no-repeat;
}


/* ------------------------------------  ABOUT PAGE ------------------------------------ */

.aboutPage {
    margin-top: 20vh;
}

.aboutPage hr {
    width: 80vw;
    margin: 0 auto;
}

.aboutRow {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
    margin-bottom: 2vh;
}

.aboutImg {
    width: 450px;
    height: 250px;
    background-image: url("https://previews.dropbox.com/p/thumb/ABHQ_hqyjL9x0W3nT4mw6GH0aY25uuZujPxj_CTcoGhzL5la8x43ImEjQB6bNRKlOMfG6DqP42ZSM3MScJO13czepJFoEGupzlTqjHWiALY54_qz06Izq6353MSkfwvZd0V4J1bIfuvefCx9cn-DR0oRDe9O71r9-XTcYGXAH5r0RpCWAItQNHa89nX06vl7oYstP4OZ5dN8U9Nkmfy7nby64QCBy32CnU7qoqpzpZjE-kLQNZfEP-cnCDlP6z06n89MciKvN6bW4jund8Wpn2OdAZzSpd9dqqZ0tXei-Ncy1S4j9GtiI4t8o827wVeHAmTMx1gdiStrfD_l5uXIkcBNbEQkPptqZKEHlepM0A9gMgGASNe9eAb7_FYjEiyj19TqLavzbbQGXvjzJMNYtVremIbC99U4EDgn7aPjNv479w/p.jpeg?fv_content=true&size_mode=5");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline;
}

.paragraph {
    display: inline;
    width: 40vw;
    padding-left: 5vw;
    text-align: justify;
    line-height: 22px;
}

.publishedRow {
    display: flex;
    padding: 2vh 0 0 0;
    /* justify-content: space-around; */
    justify-content: center;
    
}

.published {
    font-size: 1.5rem;
    padding: 4vh 0 2vh 0;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

.luxe {
    max-width: 212px;
    text-align: center;
    cursor: pointer;
    margin-top: 2vh;
    padding: 2vh .5rem;
    border: 1.75px solid var(--black);
    transition: all .8s ease-in-out;
    margin: 0 1.2vw;
}

/* .luxe:hover {
    transform:scaleY(1.25);
    transform:scaleX(1);

} */

#luxeLink {
    color: var(--black);
    padding-bottom: 3vh;
    text-decoration: none;
}

.luxe a h4 {
    padding-bottom: 1vh;
}


.luxeThumbnail {
    width: 150px;
    height: auto;
    margin-top: 1vh;
}

/* ------------------------------------  CONTACT PAGE ------------------------------------ */

.pages {
    padding: 0;
}

.contactPage {
    padding-top: 20vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left-row {
    grid-column: 1/2;
    grid-row: 1/25;
    text-align: right;
    padding: 6vh 2vw;
    line-height: 30px;
    font-weight: 100;
}

#instagram {
    justify-self: end;
    grid-column: 1/2;
    grid-row: 4/5;
}

#instagram div {
    display: inline;
    line-height: 50px;
}

#instagram a{
    padding-left: .5vw;
    color: slategrey;
    cursor: pointer;
    height: inherit;
}

#instagram a:hover {
    color: darkslategrey;
}

form {
    grid-column: 2/3;
    grid-row: 2/25;
    align-self: center;
    /* margin: 0 50vw; */
    padding: 2vh 2vw;
    border-left: 1px solid lightgrey;
}

.contactTitle {
    grid-column: 2/3;
    grid-row: 1/2;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 200;
    width: 100%;
    align-self: end;
    padding-left: 2vw;
    margin-bottom: 1vh;
}

.contactRow {
    grid-column: 2/3;
    grid-row: 2/25;
    display: inline;
}

.contactPage > form > .contactRow > label {
    grid-column: 1/9;
    line-height: 30px;
    padding-bottom: 1vh;
    font-weight: 100;
    left: 0;
    font-size: .9rem;
}

.form-control {
    grid-column: 2/3;
    margin-bottom: 1vh;
    background-color: rgb(238, 238, 238);
    border: 1px solid lightgrey;
    width: 300px;
    height: 2.5vh;
}

.contact-btn {
    grid-column: 8/9;
    padding: 0.5vh 0.75vw;
    border: 1px solid lightgrey;
    /* float: right; */
    cursor: pointer;
    color: grey;
}

.contact-btn:hover {
    background: lightslategrey;
    color: white;
}

.message-area {
    height: 150px;
  }